.background    { background: radial-gradient(circle,grey,black);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url("img/wall.png") ;}
.wall {background-image: url("img/Crate.png");}
.winWall {background-image: url("img/Crate.png");}


.coin   { background-image: url("img/Coin.png"); }
.goomba   { background-image: url("img/Goomba.png");}
.actor {position: absolute;}
.player {background-image: url("img/player.png");}
.diamond {background-image: url("img/Diamond.png");}
.tramp {background: linear-gradient(cyan,green);}


.game {
  overflow: hidden;
  max-width: 1200px;
  max-height: 450px;
  position: relative;
}
